@tailwind  base;
@tailwind components;

.wrapper {
  @apply py-10 px-6;
}

.section-title {
  @apply text-2xl font-bold;
}

.btn {
  @apply px-6 py-3 text-primary mr-4 text-sm font-semibold font-main;
  &:hover {
    @apply bg-yellow-500;
  }
}

.btn--orange{
  @apply bg-primary text-white border;
}

.btn--white{
  @apply bg-white text-black border-black border;
}
.card-title{
  @apply font-bold text-sm my-2;

}

.card-category{
@apply text-xs font-medium text-gray-600;
}
.read-more{
  @apply text-2xs font-medium font-main text-primary;

}


.product-section {
  .product-section-vertical{
    &__tabs {
      @apply w-full;
    }

    &__item {
      @apply relative pl-0 pr-2 mx-2 border-primary;
      &:after {
        content: "";
        width: 0.06rem;
        height: 60%;
        background-color: #535353;
        position: absolute;
        top: 0.2rem;
        right: -0.5rem;
      }
    }
    &__item-title {
      @apply text-xs tracking-normal text-gray-700 font-semibold;
    }
    &--active-item {
      @apply border-b-2 border-primary;
    }
    &--last-item {
      &:after{
        display: none;
      }
    }
    &__imageWrapper {
     @apply w-full mx-auto;
     img {
       @apply w-full;
     } 
    }
    &__product-name {
      @apply pb-1 text-lg font-bold;
    }
    &__product-tag {
      @apply bg-primary text-white text-xs uppercase px-1 py-1;
    }
    &__buttons-wrapper {
      @apply py-6;
    }
    &____product-description{
      @apply font-main w-full;
    }
  }


.product-section-horizontal {
 
  &__item {
    @apply relative px-1 py-2;
  }
  &--active-item {
    @apply py-6;
    .up-down-buttons {
      @apply absolute flex flex-col h-8 -ml-8 pb-6;
    }

    .product-section-horizontal__product-description {
      @apply mb-6;
    }
    .product-section-horizontal__item-title {
      @apply pb-1 text-lg font-extrabold text-black;
    }
  }
  &--inactive-item {
.product-section-horizontal__item-title {
  @apply font-semibold text-gray-400;
}


    .product-section-horizontal__buttons-wrapper {
      @apply hidden;
    }

    .up-down-buttons {
      @apply hidden;
    }

    .product-section-horizontal__product-description {
      @apply hidden;
    }
  }
  &__product-tag {
    @apply bg-primary text-white text-xs uppercase px-1 py-1;
  }
 }
}

.news-section{
  @apply bg-gray-100 w-full;

  &__featured-card {
    @apply mb-6;
  }
  &__featured-card-imageWrapper{
  @apply w-full;

  img{
    @apply w-full;
  }
}
  &__featured-card-title {
    @apply text-sm font-bold mt-1 mb-1;
  }

  &__news-cards{
    @apply flex flex-col;
  }
  &__news-card {
    @apply flex flex-row w-full mb-6;
  }

  &__news-card-imageWrapper {
    @apply w-1/2;
  }
  &__news-card-text {
    @apply w-1/2 ml-4;
  }

}









@tailwind utilities;

     @screen md {
       .news-section {
        &__card{
          @apply flex flex-row w-full;
        }

        &__featured-card {
          @apply w-8/12;
        }

        &__news-cards {
          @apply w-4/12;
        }
        &__news-card {
          @apply flex flex-col items-start w-full;
        }

        &__news-card-imageWrapper {
          @apply w-full ml-6 pr-6;
        }

        &__news-card-text {
          @apply w-full ml-6 mt-2;
        }
     }
    }
     @screen lg {
       .product-section-vertical {
         @apply hidden;
       }
     }